<div class="row" id="master-form">
    <div class="col-md-12">
        {{#links}}
            <p>{{description}}</p>
            <div class="input-group">
                        <span class="input-group-btn">
                            <a class="btn btn-default btn-input clpbrd-copy" data-clipboard-target="net-link-{{id}}" role="button">
                                <i class="icon icon-folders"></i>
                            </a>
                        </span>
                <input type="text" class="form-control" name="linkCreate" id="net-link-{{id}}" value="{{url}}">
            </div>
        {{/links}}

        <br>
        Выберите параметры для отслеживания. Кроме параметров из таблицы трекер хранит все параметры начинающиеся с префикса pbsave_:<br>

        <table class="table table-hover table-striped">
            <tr>
                <td><input type="checkbox" id="profit" checked="checked"></td>
                <td>Сумма конверсии:</td>
                <td><input type="text" id="profit_val" value="{profit}"></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="txt_param20"></td>
                <td>Валюта:</td>
                <td><input type="text" id="txt_param20_val" value="{currency}"></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="subid" checked="checked"></td>
                <td>SubID:</td>
                <td><input type="text" id="subid_val" value="{subid}"></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="status"></td>
                <td>Статус:</td>
                <td><input type="text" id="status_val" value="{status}"></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="date_add"></td>
                <td>Дата:</td>
                <td><input type="text" id="date_add_val" value="{date}"></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="txt_param1"></td>
                <td>IP:</td>
                <td><input type="text" id="txt_param1_val" value="{ip}"></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="txt_param2"></td>
                <td>User Agent:</td>
                <td><input type="text" id="txt_param2_val" value="{uagent}"></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="txt_param4"></td>
                <td>Название оффера:</td>
                <td><input type="text" id="txt_param4_val" value="{offer_name}"></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="txt_param7"></td>
                <td>Источник:</td>
                <td><input type="text" id="txt_param7_val" value="{source}"></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="int_param1"></td>
                <td>ID цели:</td>
                <td><input type="text" id="int_param1_val" value="{goal_id}"></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="int_param2"></td>
                <td>ID оффера:</td>
                <td><input type="text" id="int_param2_val" value="{offer_id}"></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="int_param3"></td>
                <td>ID заказа:</td>
                <td><input type="text" id="int_param3_val" value="{order_id}"></td>
            </tr>
        </table>
    </div>
</div>