<div class="page-heading" id="report-{{report_name}}">
    <div class="header-content">
        {{>report-header}}
        {{>report-breadcrumbs}}
        {{>report-toolbar}}
    </div>
    {{>report-table}}
    {{>report-table-toolbar}}
</div>
{{>report-params}}


{{#IN}}
<form id="{{report_name}}_IN" style="display:none;">
    {{#values}}
    <input type="hidden" name="{{name}}" value="{{value}}">
    {{/values}}
</form>
{{/IN}}