{{#breadcrumbs}}
<ol class="breadcrumb">
    <li><a href="?act=reports">Все данные</a></li>
    {{#values}}
        <li class="{{class}}">
            <span class="pointer" {{#name_action}}onclick="return refresh_report('{{name}}', '{{value}}')"{{/name_action}}>{{name}}</span>
            <a href="#" {{#value_action}}onclick="return refresh_report('{{name}}', '{{value}}')"{{/value_action}}>{{caption}}</a></li>
    {{/values}}
    <li class="active">{{selected_caption}}</li>
</ol>
{{/breadcrumbs}}