<div class="page-heading" id="report-{{report_name}}">
    <div class="header-content">
        {{>report-header}}
        {{>report-breadcrumbs}}
        {{>report-toolbar}}
    </div>
    {{>report-table}}
    {{>report-table-toolbar}}
</div>
{{>report-params}}