<div class="pagination">
    <div role="toolbar" class="btn-toolbar">

        <div class="btn-group" data-toggle="buttons">
            {{#report-toolbar-filter-conversions}}
                <label class="btn btn-default {{active}}" onclick="return refresh_report('filter_conversions', '{{value}}');" >
                    {{caption}}
                </label>
            {{/report-toolbar-filter-conversions}}
        </div>

        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active" onclick="show_columns('report-{{report_name}}', '.c-action', '.c-sale, .c-lead');">
                <input type="radio" name="options2" autocomplete="off" checked="">Все действия
            </label>
            <label class="btn btn-default" onclick="show_columns('report-{{report_name}}', '.c-sale', '.c-action, .c-lead');">
                <input type="radio" name="options2" autocomplete="off"> Продажи
            </label>
            <label class="btn btn-default" onclick="show_columns('report-{{report_name}}', '.c-lead', '.c-action, .c-sale');">
                <input type="radio" name="options2" autocomplete="off"> Лиды
            </label>
        </div>

        <div class="btn-group pull-right" data-toggle="buttons">
            <label class="btn btn-default active ">
                <input type="radio" name="options3" id="option9" autocomplete="off" checked="">$
            </label>
            <label class="btn btn-default">
                <input type="radio" name="options3" id="option10" autocomplete="off"> <i class="cpa cpa-rouble"></i>
            </label>
            <label class="dropup">
                <a class="btn btn-default dropdown-toggle" href="#fakelink" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="cpa cpa-angle-up"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="dropdown-link" href="#">Валюта 1</a></li>
                    <li><a class="dropdown-link" href="#">Валюта 2</a></li>
                </ul>
            </label>
        </div>
    </div><!--Toolbar-->
</div>