<div class="pagination">
    <div role="toolbar" class="btn-toolbar">

        <div class="btn-group" data-toggle="buttons">
            {{#report-toolbar-filter-conversions}}
                <label class="btn btn-default {{active}}" onclick="return refresh_report('{{action}}', '{{value}}');" >
                    {{caption}}
                </label>
            {{/report-toolbar-filter-conversions}}
        </div>

        <div class="btn-group" data-toggle="buttons">
            {{#report-toolbar-filter-actions}}
                <label class="btn btn-default {{active}}" onclick="return refresh_report('filter_actions||report_type', '{{value}}||clicks_count');">
                    {{caption}}
                </label>
            {{/report-toolbar-filter-actions}}
        </div>

        <div class="btn-group" data-toggle="buttons">
            <label class="dropup">
                <a class="btn btn-default dropdown-toggle" href="#fakelink" data-toggle="dropdown" role="button" aria-expanded="false">
                    <strong>{{selected_currency_symbol}}</strong>
                </a>
                <ul class="dropdown-menu" role="menu">
                    {{#currencies}}
                        <li><a class="dropdown-link" href="#" onclick="return refresh_report('currency_id', '{{id}}');">{{caption}}</a></li>
                    {{/currencies}}
                </ul>
            </label>
        </div>
        {{#report-toolbar-excel-export}}
        <div class="btn-group pull-right" data-toggle="buttons">
            <label class="btn btn-link" onclick="export_as_xls()">
                <i class="fa fa-download"></i> Excel
            </label>
        </div>
        {{/report-toolbar-excel-export}}


    </div><!--Toolbar-->
</div>