{{#flow_rows}}
    <tr id="sales_{{conversion_id}}_main">
        <td class="accordion-toggle" data-toggle="collapse-next" nowrap="">{{short_date}}</td>
        <td class="accordion-toggle" data-toggle="collapse-next">{{offer_name}}</td>
        <td class="accordion-toggle" data-toggle="collapse-next">{{network_name}}</td>
        <td class="accordion-toggle inactive" data-toggle="collapse-next">{{source_name}}</td>
        <td class="accordion-toggle" data-toggle="collapse-next">{{campaign_name}}</td>
        <td class="accordion-toggle" data-toggle="collapse-next" style="word-break: break-all">
            {{placement}}
        </td>
        <td class="accordion-toggle" data-toggle="collapse-next">
            {{profit}}
        </td>
        <td class="text-right accordion-toggle" data-toggle="collapse-next">
            <span class="pull-left"><i class="{{status-icon}}" style="font-size:12px;" title="{{status-title}}"></i> {{status}}</span>
            <a class="a-default"><i class="cpa cpa-angle-down"></i></a>
        </td>
    </tr>
    <!--hidden row-->
    <tr id="sales_{{conversion_id}}_hidden">
        <td colspan="9" class="no-padding">
            <div class="collapse">
                <div class="inner">
                    <table class="table table-link-description">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Местоположение</th>
                            <th>Провайдер</th>
                            <th>IP адрес</th>
                            <th>SubID продажи</th>
                        </tr>
                        </thead>

                        <tbody>
                        <!--row-->
                        <tr>
                            <td>{{date}}</td>
                            <td>{{location}} </td>
                            <td>{{isp}} </td>
                            <td>{{ip}}</td>
                            <td>{{subid}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-link-description">
                        <thead>
                        <tr>
                            <th>ОС</th>
                            <th>Устройство</th>
                            <th>Браузер</th>
                            <th>User-agent</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{os}}</td>
                            <td>{{device}}</td>
                            <td>{{browser}}</td>
                            <td style="word-break: break-all;">{{user_agent}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-link-description">
                        <thead>
                        <tr>
                            <th>Площадка</th>
                            <th>Ключевое слово</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="word-break: break-all;">{{full_referer}}</td>
                            <td>{{keyword}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-link-description">
                        <thead>
                        <tr>
                            <th>Параметры ссылки</th>
                            <th>Параметры перехода</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{click_params}}</td>
                            <td>{{link_params}}</td>
                        </tr>
                        </tbody>
                    </table>
                    {{#network_params}}
                    <table class="table table-link-description">
                        <thead>
                        <tr><th>Получено от CPA сети</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                {{#values}}
                                    <span style="margin-right:20px; display:inline-block;">
                                        <span>{{caption}}</span>
                                        <span style="font-weight: normal">{{value}}</span>
                                    </span>
                                {{/values}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    {{/network_params}}
                    <table class="table table-link-description">
                        <tbody>
                            <tr>
                                <td style="text-align:right; font-size:14px; font-weight:normal;">
                                    <span style="cursor:pointer;" onclick="delete_sale(this, '{{conversion_id}}');">
                                        <i style="color:red; cursor:pointer;" class="fa fa-trash-o"></i> Удалить продажу
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--inner-->
            </div><!--collapse-->
        </td>
    </tr>
{{/flow_rows}}