
a:hover,
a:active,
a:focus {
  outline: 0 none;
  text-decoration: none;
}
a.hover-underline:hover,
a.hover-underline:active,
a.hover-underline:focus {
  text-decoration: underline;
}
body {
  overflow-x: hidden;
  min-height: 100%;
  width: 100%;
  position: absolute;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tooltip-inner {
  font-size: 14px;
  padding: 7px 12px;
  border-radius: 4px;
}
.btn {
  padding: 7px 20px;
}
.btn-short {
  padding: 7px 12px;
}
.btn-long {
  padding: 7px 40px;
}
.btn-default {
  border-bottom: 1px solid #d1e0eb;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: #cbe4f5;
  border-bottom: 1px solid #95b4c9;
}
.btn-info {
  border: 1px solid #d1dde6;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-color: white;
  border-color: #95b4c9;
  color: #1d2a36;
}
.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel.focus,
.btn-cancel:active,
.btn-cancel.active,
.open > .dropdown-toggle.btn-cancel {
  background-color: white;
}
.btn-toolbar > .btn-group {
  margin-left: 20px;
}
.btn-toolbar > .btn-group:first-of-type {
  margin-left: 0;
}
.btn-toolbar > .btn-group .btn + .btn,
.btn-toolbar > .btn-group .btn + .btn:hover {
  border-left: 1px solid #d1e0eb;
}
.form-horizontal .btn-toolbar {
  margin-left: 0;
}
.btn-group.open .dropdown-toggle {
  box-shadow: none ;
}
.dropdown .dropdown-toggle .icon-abs {
  left: 12px;
}
.dropdown .dropdown-menu {
  -webkit-box-shadow: 0 7px 30px rgba(46, 68, 89, 0.2);
  box-shadow: 0 7px 30px rgba(46, 68, 89, 0.2);
  padding: 0;
  border: 0;
}
.dropdown .dropdown-menu > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.dropdown .dropdown-menu > li > a span.value {
  float: right;
  color: #b4c1d1;
  margin-left: 10px;
}
.dropdown .dropdown-menu > li.dropdown-footer a {
  padding-top: 11px;
  padding-bottom: 11px;
  border-top: 1px solid #dfedf7;
  position: relative;
}
.dropdown .dropdown-menu > li.dropdown-footer a .icon-abs {
  left: 12px;
}
.dropdown .dropdown-menu > li.dropdown-footer a .icon-trash {
  margin-top: -1px;
}
.dropdown .dropdown-menu > li.dropdown-footer.text-info a {
  color: #51779e;
}
.dropdown .dropdown-menu > li.dropdown-footer.text-danger a {
  color: #ff9999;
}
.dropdown a.dropdown-link {
  padding-left: 36px;
  padding-right: 11px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.help-block {
  color: #8eaabd;
  margin-bottom: 10px;
  margin-top: 10px;
}
label {
  font-weight: normal;
}
.form-control.form-control-alt {
  background-color: #16212b;
  border: 1px solid #334557;
  color: white;
  font-size: 16px;
  height: 34px;
  box-shadow: none;
}
.form-control.form-control-alt:focus {
  box-shadow: none;
}
.input {
  padding: 8px;
  border-bottom: 1px solid #16212b;
}
.input .form-control-feedback {
  top: 8px;
  right: 12px;
}
.popover {
  border-radius: 0;
  -webkit-box-shadow: 0 7px 30px rgba(46, 68, 90, 0.2);
  box-shadow: 0 7px 30px rgba(46, 68, 90, 0.2);
  width: 870px;
}
.popover-content {
  padding: 30px 40px;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.single-icon .icon {
  margin-right: 0;
}
.icon-abs {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.icon-clock {
  background-image: url('../img/icons/clock.png');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  margin-top: -1px;
}
.icon-one {
  background-image: url('../img/icons/one.png');
  background-repeat: no-repeat;
  width: 26px;
  height: 18px;
}
.icon-info {
  background-image: url('../img/icons/info.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}
.icon-cog {
  background-image: url('../img/icons/cog.png');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}
.icon-logout {
  background-image: url('../img/icons/logout.png');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}
.icon-trash {
  background-image: url('../img/icons/trash.png');
  background-repeat: no-repeat;
  width: 12px;
  height: 16px;
}
.icon-edit {
  background-image: url('../img/icons/edit.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.icon-check {
  background-image: url('../img/icons/check.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.icon-magnifier {
  background-image: url('../img/icons/magnifier.png');
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.icon-plus {
  background-image: url('../img/icons/plus.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}
.icon-plus-small {
  background-image: url('../img/icons/plus-small.png');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}
.icon-cancel {
  background-image: url('../img/icons/cancel.png');
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}
.icon-check-o {
  background-image: url('../img/icons/check-o.png');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}
.icon-folder {
  background-image: url('../img/icons/folder.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 15px;
}
.icon-drawer {
  background-image: url('../img/icons/drawer.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 16px;
}
.icon-pencil {
  background-image: url('../img/icons/pencil.png');
  background-repeat: no-repeat;
  width: 15px;
  height: 16px;
}
.icon-trash-gray {
  background-image: url('../img/icons/trash-gray.png');
  background-repeat: no-repeat;
  width: 13px;
  height: 16px;
}
.top-navbar {
  position: absolute;
  height: 50px 1;
  top: 0;
  left: 250px;
  right: 0;
  background: #ebf2f7;
  border-bottom: 1px solid #d1dde6;
  z-index: 1024;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.top-nav-content {
  position: relative;
  height: 50px;
}
.top-nav-content .main-menu > li {
  padding: 0 10px;
}
.top-nav-content .main-menu > li > a {
  height: 50px;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  padding: 15px 0 23px;
}
.top-nav-content .main-menu > li > a:hover {
  color: #51779e;
}
.top-nav-content .main-menu > li.active a {
  border-bottom: 3px solid #34495e;
}
.navbar-link i {
  font-size: 15px;
  color: rgba(52, 73, 94, 0.5);
  margin-left: 6px;
}
.navbar-link.with-value i {
  margin-right: 35px;
}
.navbar-link a {
  color: #34495e;
}
.navbar-form .has-feedback .form-control {
  padding-right: 2em;
}
.navbar-form .has-feedback .form-control-feedback {
  pointer-events: auto;
}
.offer-form .btn-toolbar {
  margin-top: 15px;
}
.offer-form .form-group:last-child {
  margin-bottom: 0;
}
.sidebar-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background: #2e4459 url('../img/icons/sidebar-right-shadow.png') repeat-y right top;
  color: white;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar-left.toggle-left {
  left: -215px;
}
.top-navbar.toggle-left {
  left: 35px;
}
.page-content.toggle-left {
  margin-left: 35px;
}
.btn-collapse-sidebar-left {
  position: absolute;
  background: url('../img/icons/toggle-button.png') no-repeat left top;
  right: 0;
  width: 24px;
  height: 20px;
  cursor: pointer;
  margin: 15px 0;
  z-index: 3;
}
.icon-dynamic {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.icon-dynamic.rotate-180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  right: 11px;
}
ul.sidebar-menu {
  padding: 0;
  list-style: none;
}
ul.sidebar-menu li {
  display: block;
  color: white;
}
ul.sidebar-menu li .logo-brand {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  padding: 0;
}
ul.sidebar-menu li .logo-brand span {
  font-weight: 800;
}
ul.sidebar-menu li a {
  display: block;
  color: white;
  height: 50px;
  padding: 14px 40px 10px 20px;
  border-bottom: 1px solid #23374a;
  border-top: 1px solid #495d70;
  text-decoration: none;
  line-height: 120%;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
ul.sidebar-menu li a:hover,
ul.sidebar-menu li a:focus {
  background-color: #354e66;
}
ul.sidebar-menu li a.btn-alt {
  padding: 8px;
}
ul.sidebar-menu li a.btn-alt .btn-alt-content {
  display: block;
  width: 100%;
  height: 34px;
  line-height: 1;
  font-weight: 400;
  padding: 9px 16px 5px 12px;
  color: #8fa6b5;
  background-color: #16212b;
  border: 1px solid #334557;
}
ul.sidebar-menu li a.btn-alt i {
  position: absolute;
  top: 18px;
  right: 22px;
}
ul.sidebar-menu li.selected > a,
ul.sidebar-menu li.selected > a:hover,
ul.sidebar-menu li.selected > a:focus,
ul.sidebar-menu li.active > a,
ul.sidebar-menu li.active > a:hover,
ul.sidebar-menu li.active > a:focus {
  background-color: #314b66;
  font-weight: 700;
}
ul.sidebar-menu li ul.submenu {
  background: rgba(21, 29, 38, 0.7);
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: relative;
}
ul.sidebar-menu li ul.submenu.visible {
  display: block;
}
ul.sidebar-menu li ul.submenu li {
  display: block;
}
ul.sidebar-menu li ul.submenu li::before {
  content: "";
  background: url(./img/arrow.svg) no-repeat;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -1px);
  -ms-transform: translate(-50%, -1px);
  -o-transform: translate(-50%, -1px);
  transform: translate(-50%, -1px);
}
ul.sidebar-menu li ul.submenu li:first-child {
  border-top: 1px solid #16212b;
}
ul.sidebar-menu li ul.submenu li a {
  border-top: 0;
  border-bottom: 1px solid #16212b;
  font-weight: 300;
}
ul.sidebar-menu li ul.submenu li a .span-sidebar {
  position: absolute;
  right: 20px;
  text-align: right;
  color: #a5c6d9;
  font-size: 14px;
  margin-top: 2px;
}
ul.sidebar-menu li ul.submenu li a:hover,
ul.sidebar-menu li ul.submenu li a:focus {
  background-color: #233140;
}
ul.sidebar-menu li ul.submenu li.selected a,
ul.sidebar-menu li ul.submenu li.selected a:hover,
ul.sidebar-menu li ul.submenu li.selected a:focus,
ul.sidebar-menu li ul.submenu li.active a,
ul.sidebar-menu li ul.submenu li.active a:hover,
ul.sidebar-menu li ul.submenu li.active a:focus {
  color: white;
  background-color: #233140;
}
ul.sidebar-menu li ul.submenu li.highlighted a {
  font-weight: 700;
}
ul.sidebar-menu li ul.submenu li.highlighted a .span-sidebar {
  color: white;
}
.page-content {
  padding: 70px 30px 20px;
  margin-left: 250px;
  margin-top: 0;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.page-heading p {
  color: #7b9cb3;
  margin: 0;
}
.page-heading .header-content {
  margin-bottom: 20px;
}
.page-heading .header-content h2 {
  color: #34495e;
  font-weight: 200;
  margin: 0;
}
.page-heading .header-content h2 a {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.page-heading .header-content h2:hover a {
  opacity: 1;
}
.page-heading .header-content .header-left {
  float: left;
  width: 480px;
}
.table-box {
  border: 1px solid #dfedf7;
}
.table-box table {
  margin-bottom: 0;
  border-collapse: initial;
}
.table-box table tbody > tr > td,
.table-box table tfoot > tr > td {
  vertical-align: middle;
}
.table-box table tbody > tr > td:nth-of-type(1),
.table-box table tfoot > tr > td:nth-of-type(1) {
  width: 32px;
}
.table-box table tbody > tr > td:nth-of-type(2),
.table-box table tfoot > tr > td:nth-of-type(2) {
  width: 32px;
}
.table-box table tbody > tr > td:nth-of-type(3),
.table-box table tfoot > tr > td:nth-of-type(3) {
  width: 300px;
}
.table-box table tbody > tr > td:nth-of-type(4),
.table-box table tfoot > tr > td:nth-of-type(4) {
  width: 110px;
}
.table-box table tbody > tr > td:nth-of-type(6),
.table-box table tfoot > tr > td:nth-of-type(6) {
  width: 40px;
}
.table-box table tbody > tr > td:first-child,
.table-box table tfoot > tr > td:first-child {
  padding-left: 12px;
}
.table-box table tbody > tr > td.dropdown-cell,
.table-box table tfoot > tr > td.dropdown-cell {
  padding: 0;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.table-box table tbody > tr > td.dropdown-cell .dropdown-menu,
.table-box table tfoot > tr > td.dropdown-cell .dropdown-menu {
  margin: 0;
}
.table-box table tbody > tr > td.dropdown-cell > .dropdown,
.table-box table tfoot > tr > td.dropdown-cell > .dropdown {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  width: 100%;
}
.table-box table tbody > tr > td.dropdown-cell > .dropdown .dropdown-toggle,
.table-box table tfoot > tr > td.dropdown-cell > .dropdown .dropdown-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.table-box table tbody > tr > td.dropdown-cell > .dropdown .dropdown-toggle i,
.table-box table tfoot > tr > td.dropdown-cell > .dropdown .dropdown-toggle i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.table-box table tbody > tr > td.dropdown-cell > .dropdown.open,
.table-box table tfoot > tr > td.dropdown-cell > .dropdown.open {
  background: white;
}
.table-box table tfoot > tr > td {
  border-top: 1px solid #dfedf7;
}
.table-box .checkbox {
  margin: 0;
}
.table-box .checkbox label {
  padding: 0;
}
.table-check > tbody > tr.checked {
  background-color: #fffac7;
}
.table-check > tbody > tr.checked:hover {
  background-color: #fff7a3;
}
.pagination {
  margin: 30px 0;
  width: 100%;
}
.pagination .pagination-left a {
  color: #7b9cb3;
  float: left;
}
.links_category_add_form {
    display:none;
}